<div class="footer-container mt-3">
    <div class="grid">
        <div class="col-6">
            @ 1994-2021 Eshop
        </div>
        <div class="col-6">
            <ul>
                <li><img src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png"/></li>
                <li><img src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png"/></li>
                <li><img src="https://img.icons8.com/ios-glyphs/30/000000/youtube-play.png"/></li>
                <li><img src="https://img.icons8.com/ios-glyphs/30/000000/twitter--v2.png"/></li>
            </ul>
        </div>
    </div>
</div>