header{
    .grid
    {
        padding-top:22px;
    }
    .logo
    {
        img{
            width: 100px;
        }
    }

    .navigation
    {
        padding-top: 18px;
    }

    .tools
    {
        padding-top: 18px;
       
        .pi{
            margin-right:10px;
        }
    }
}