<div class="admin-sidebar">
    <div class="logo">
        <img  src="https://img.icons8.com/color/100/000000/food-cart.png"/>
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/" href=""> <i  class="pi pi-home"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="/products"  href=""> <i class="pi pi-briefcase"></i> Products</a>
            </li>
            <li>
                <a routerLink="/categories" href=""> <i  class="pi pi-list"></i> Categories</a>
            </li>
            <li>
                <a routerLink="/orders" href=""> <i class="pi pi-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a routerLink="/users" href=""> <i class="pi pi-users"></i> Users</a>
            </li>
            <li>
               <a> <p-button   (click)="logout()"  class="logout" > <i class=" pi pi-sign-out"></i> Logout</p-button></a>
            </li>
        </ul>
    </div>
</div>